<!DOCTYPE html>
<html>
    <head>
        <title>Timesheet</title>
        <link rel="stylesheet" href="css/theme.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <link rel="stylesheet" href="./css/utils.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="margin-left: 657px;" href="">TimeSheet</a>


    </nav>
        <form method="post" action="/login">
        <h1 style="color:white">Employer Log in</h1>
         {{#if errorMsg}}
            <h5>{{errorMsg}}</h5>
        {{else}}
            <h5></h5>
        {{/if}}
        <div class="inset">
            <p>
                <label for="username" style="color:white">EMAIL ADDRESS</label>
                <input type="text" name="username">
            </p>
            <p>
                <label for="password" style="color:white">PASSWORD</label>
                <input type="password" name="password">
            </p>
           
        </div>
        <p class="p-container">
             <button type="submit" name="go" id="go" class="btn-grad">LOGIN</button>
        </p>
    </form>

    </body>
</html>