<!DOCTYPE html>
<html>

<head>
    <title>TimeSheet</title>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <link rel="stylesheet" href="./css/utils.css" />
</head>

<body>


    <div class="container">
        <div class="row">
            <main class="col-md-12 mt-3">

                <h3>Logged out successfully</h3>
                <hr>
                <p class="p-container">
             <label type="submit" name="go" id="go" class="btn-grad" href="/">Back to Login Page</label>
        </p>
            </main>
        </div>
    </div>

   {{> footer user}}
</body>

</html>