<!DOCTYPE html>
<html>

<head>
    <title>TimeSheet</title>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <link rel="stylesheet" href="./css/utils.css" />
</head>

<body>
    {{> mainHeader user}}

    <div class="container">
        <div class="row">
            <main class="col-md-12 mt-3">

                <h2>On-Boarding</h2>
                <hr />
                <form method="POST" action="/firstrunsetup">
                <fieldset>
                    <di class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="username">User Name:</label>
                                <input class="form-control" id="username" name="username" type="text" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input class="form-control" id="password" name="password" type="text" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstName">First Name:</label>
                                <input class="form-control" id="firstName" name="firstName" type="text" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastName">Last Name:</label>
                                <input class="form-control" id="lastName" name="lastName" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input class="form-control" id="email" name="email" type="text"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="SIN">Social Security Number:</label>
                                <input class="form-control" id="SIN" name="SIN" type="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="addressStreet">Address (Street):</label>
                                <input class="form-control" id="addressStreet" name="addressStreet" type="text"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="addressCity">Address (City):</label>
                            <input class="form-control" id="addressCity" name="addressCity" type="text"/>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="addressProvince">Address (Province):</label>
                                <input class="form-control" id="addressProvince" name="addressProvince" type="text"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="zip">Address (Zip Code):</label>
                                <input class="form-control" id="zip" name="zip" type="text"/>
                            </div>
                        </div>
                    </div>
               
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Employee Status:</label><br />
                                <label class="checkbox-inline">
                                    <input type="radio" id="status" name="status" value="active" />
                                    Active
                                </label>
                                <label class="checkbox-inline">
                                    <input type="radio" id="status" name="status" value="inactive" />
                                    Inactive
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="departmentID">Department</label>
                                <select class="form-control" name="departmentID" id="departmentID">
                                    <option value="1">Department 1</option>
                                    <option value="2">Department 2</option>
                                    <option value="3">Department 3</option>
                                    <option value="4">Department 4</option>
                                     
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="contactNum">Contact Number:</label>
                                <input class="form-control" id="contactNum" name="contactNum" type="tel" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="position">Position:</label>
                                <input class="form-control" id="position" name="position" type="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="hire_date">Hire Date</label>
                                <input class="form-control" name="hire_date" id="hire_date" type="date"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>isAdmin:</label><br />
                                <label class="checkbox-inline">
                                    <input type="radio" id="isAdmin" name="isAdmin" value="true" />
                                    Yes
                                </label>
                                <label class="checkbox-inline">
                                    <input type="radio" id="isAdmin" name="isAdmin" value="false" />
                                    No
                                </label>
                            </div>
                        </div>
                </fieldset>

                <hr />
                <input type="submit" class="btn btn-primary float-right" value="Submit" /><br /><br /><br />
            </form>
            </main>
        </div>
    </div>

   {{> footer user}}
</body>

</html>


   